{% extends 'base.html' %}
{% load static %}

{% block title %}Add{% endblock title %}

{% block body %}

    <form method="POST">
        {% csrf_token %}
        <div class="block_note">
            <label for="heading"><h1>Heading:</h1></label>
            <br>
            <textarea class="input-box add-note-heading" name="heading" id="heading" cols="130" rows="5" maxlength="100" wrap="soft" required></textarea>
        </div>

        <div class="block_note">
            <label for="description"><h1>Description</h1></label>
            <br>
            <textarea class="input-box add-note-description" name="description" id="description" cols="130" rows="5" maxlength="500" wrap="soft" required></textarea>
        </div>

        <div>
            <center><input type="submit" value="Add" class="submit-btn"></center>
        </div>
    </form>

{% endblock body %}