{% extends 'base.html' %}
{% load static %}
{% block title %}Edit{% endblock title %}


{% block body %}

    <div class = "block_note">
        <h1>{{note.noteuser}}</h1>
    </div>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="block_note">
            <label for="description"><h1>Description</h1></label>
            <br>
            <textarea class="input-box add-note-description" name="description" id="description" rows="10" maxlength="500" wrap="soft" required>{{note.description}}</textarea>
        </div>
            <center><input type="submit" class="submit-btn" value="Update"></center>
    </form>

{% endblock body %}