{% extends 'base.html' %}
{% load static %}
{% block title %}TODO{% endblock title %}

{% block body %}
    {% if not notes %}
    <div class="block_note">
        <center><h2>Hurray! There is nothing here.</h2></center>
    </div>
    {% else %}
        {% for note in notes %}
        <div class = "block-note">
            <h2>{{note.heading}}</h2>
            <p>{{note.description}}</p>
            <small>{{note.date_added}}</small><br><br>
            <a href="{% url 'edit' n_id=note.id %}">Edit</a>
            <a href="{% url 'delete' n_id=note.id %}">Delete</a>
        </div><br>
        {% endfor %}
    {% endif %}
        <center><a class="submit-btn" href="{% url 'add' %}">Add Note</a></center>
{% endblock body %}
