{% extends "pgenerator/base.html" %}

{% block title %}PGen Home{% endblock title %}

{% block body %}
    <h1> Password Generator </h1>
    <form method="POST">
        {% csrf_token %}
        
        <input type="radio" name="charset" id="ucase" value="upper">
        <label for="ucase">Uppercase [A-Z]</label>
        <input type="radio" name="charset" id="lcase" value="lower">
        <label for="lcase">Lowercase [a-z]</label><br>
        <input type="radio" name="charset" id="digit" value="digit">
        <label for="digit">Digits [0-9]</label>
        <input type="radio" name="charset" id="symbol" value="symbol">
        <label for="symbol">Symbols [!@#...*:]</label><br>
        <input type="radio" name="charset" id="all" value="all" checked>
        <label for="all">All</label><br>
        

        <label for="plength">Password Length: </label>
        <input type="number" name="plength" id="plength" size="2" placeholder="Ex: 10">
        <input type="submit" value="Generate">
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if randompassword %}
        <p>{{ randompassword }}</p>
    {% endif %}
{% endblock body %}