{% load static %}
<!doctype html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'todo_app/css/style.css' %}" >

    <title>{% block title %}Core{% endblock title %}</title>
  </head>
  <body>
      {% block body %}
      <div class = "container">
          This is the core page.
      </div>
      {% endblock body %}

  </body>
</html>
