@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Universal */
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #ffffff;
}

p{
    font-size: 20px;
}
/* End Universal */

/* Index */
.user-icon{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 30px;
}

ol{
    text-decoration: none;
}

.list-items>a{
    color: #ffffff;
    font-size: 20px;
}

.list-items{
    padding: 5px;
    border: 2px transparent solid;
    overflow: hidden;
}

.list-items:hover{
    border-color: #ffffffcc;
}
/* End Index */

/* for base */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-home{
    display: flex;
    min-height: 100vh;
}

.item-1-light, .item-1-dark{
    flex-basis: 15%;
    background-image: linear-gradient(to right, #80ffdb, #72efdd);
    padding: 10px;
    box-shadow: 2px 0px 10px black;
}

.item-2-light, .item-2-dark{
    flex-basis: 85%;
    background-color: #80ffdb77; 
    padding: 30px;
}

.item-1-dark{
    background-image: linear-gradient(to right, #0c020f, #15101a);
}

.item-2-dark{
    background-color: #1d1d25;
}

.item-1-dark>*, .item-2-dark>*{
    color: #ffffffcc;
}


/* End base */

/* for pgenerator */
h1, h2{
    display: inline-block;
    margin: 0px 0px 20px 0px;
    font-size: 40px;
    box-shadow: 0px 0px 10px;
    border: 1px #000000 solid;
    padding: 10px;
    border-radius: 20px;
}

.form-radio{
    margin: 20px 0px;
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
    padding: 10px;
    justify-content: flex-start;
}

.form-radio-item{
    margin: 5px;
    padding: 2px;
}

.form-plength{
    display: inline-block;
    font-size: 20px;
    margin: 20px 0px;
    padding: 17px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px;
}

.input-box{
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    border: 2px transparent solid;
}


.submit-btn{
    background-color: #5f4bf0;
    color: #ffffff;
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px #363535;
    border-radius: 10px;
}

.error-password{
    display: inline-block;
    margin: 20px 0px;
    padding: 10px;
    box-shadow: 0px 0px 5px #363535;
    border-radius: 20px;
    font-size: 20px;
}

#error{
    color: red;
}

/* end pgenerator */

/* TODO */
h2{
    font-size: 30px;
}

.block_note{
    display: inline-block;
    margin: 20px 0px;
}

.add-note-heading{
    font-size: 20px;
}
.add-note-description{
    font-size: 20px;
}

/* End TODO */