/* This block is same for evry html*/
* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

body{
    background-attachment: fixed;
    background-image: url('/static/todo_app/images/evening.jpg');
    background-size: cover;
}

.container{
    width: 70%;
    margin: 0px auto 0px;
}

.block_note{
    width: 100%;
    display: block;
    background-color: rgba(255,255,255, 0.5);
    margin: 10px 20px 20px;
    padding: 10px 20px 20px;
}

.block_note:hover{
    background-color: rgba(255,255,255, 0.7);
    color: #000000;
}

h1{
    font-size: 40px;
    font-weight: normal;
    margin: 5px 0px 5px;
    text-decoration: underline;
}

h2{
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0px 5px;
}

.submit-btn {
    display: inline;
    margin: 0.1em 0em;
    padding: 0.5em;
    background-color: #459cf3;
    border-radius: 0.5em;
    color: #ffffff;
    border: none;
    transition: all ease 0.2s;
}

.input-box{
    padding: 10px;
    font-size: 20px;
}

a{
    text-decoration: none;
}