* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;   
}

.body{
    width: 70%;
    margin: auto auto;
}

.form-radio {
    display: inline-block;
    border: 2px black solid;
    padding: 10px;
    margin: 20px 0px;
}

.submit-btn {
    padding: 0.5em;
    background-color: #459cf3;
    border-radius: 0.5em;
    color: #ffffff;
    border: none;
    margin-left: 1em;
}

.form-plength{
    margin: 10px 0px;
}

#error {
    display: inline-block;
    margin-top: 0.5em;
    color: #DC143C;
    font-size: 16px;
    font-weight: bold;
}

#password {
    overflow-wrap: break-word;
    padding: 0.5em;
    margin-top: 0.4em;
    background-color: #DCDCDCA0;
    font-size: 1.3em;
    line-height: 1em; 
}