{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block body %}
<div class="profile">
    <div>
        <h1>Profile: {{user.username}}</h1>
    </div>
    <div class="profileform">
        <form method="POST">
            {% csrf_token %}
            <div class="outer-box">
                <label for="username">Username: </label>
                <div>
                    <input type="text" name="username" id="username" value="{{user.username}}" maxlength="150" required class="input-box" size="70">
                </div>
            </div><br>
            <div class="outer-box">
                <label for="newpassword">New Password: </label>
                <div>
                    <input type="password" name="newpassword" id="newpassword" class="input-box" size="70">
                </div>
            </div><br>
            <div class="outer-box">
                <label for="oldpassword">Old Password: </label>
                <div>
                    <input type="password" name="oldpassword" id="oldpassword" class="input-box" size="70">
                </div>
            </div>
           
            
            
            <div style="margin-top: 20px;">
                <input type="submit" value="Change" class="submit-btn">
            </div>
            <div style="margin-top: 20px;">
                {% if user.myuser.theme == "light" %}
                <input type="radio" name="theme" id="light" value="light" checked>
                {% else %}
                <input type="radio" name="theme" id="light" value="light">
                {% endif %}
                <label for="light">Light</label>

                {% if user.myuser.theme == "dark" %}
                <input type="radio" name="theme" id="dark" value="dark" checked>
                {% else %}
                <input type="radio" name="theme" id="dark" value="dark">
                {% endif %}
                <label for="dark">Dark</label>
            </div>
        </form>
        <hr>
        <a href="{% url 'user-signout' %}">Sign Out</a>
        
    </div>
</div>
{% endblock body %}