{% extends 'base.html' %}
{% load static %}

{% block title %}Sign-in{% endblock title %}

{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="form-element">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" class="input-box" required>
    </div>
    <div class="form-element">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" class="input-box" required>
    </div>
    <div class="form-element">
        <input type="submit" class="submit-btn" value="Sign-In">
    </div>
    <hr>
    <div>
        Don't have an account? <a href="{% url 'user-register' %}">Register Now</a>
    </div>
</form>
{% endblock body %}